*._ci_*.css
*._cmpld_.*
*.less.css
*.opt
*.plg
*.scss.css
*.xml

**/Addons/_Addons/**/*.min.js
**/Addons/_Addons/**/*.min.css
**/Addons/_Addons/**/*.min.scss
**/Addons/_Main/**/*.min.js
**/Addons/_Main/**/*.min.css
**/Addons/_Main/**/*.min.scss
**/Addons/_Templates/**/*.min.js
**/Addons/_Templates/**/*.min.css
**/Addons/_Templates/**/*.min.scss
**/Addons/_Skins/**/*.min.js
**/Addons/_Skins/**/*.min.css
**/Addons/_Skins/**/*.min.scss
**/Addons/_Main/Localization/*
**/Addons/YetaWF/**/*.min.js
**/Addons/YetaWF/**/*.min.css
**/Addons/YetaWF/**/*.min.scss
**/obj/
**/bin/**/*.xml
**/bin/**/*.config
**/bin/**/*.manifest

Core/Addons/_JS/alexgorbatchev.com/SyntaxHighlighter/**/*.min.js
Core/Addons/_JS/alexgorbatchev.com/SyntaxHighlighter/**/*.min.css
Core/Addons/_JS/alexgorbatchev.com/SyntaxHighlighter/**/*.min.scss

Core/Addons/_JS/bassistance.de/jquery-validation/**/*.min.js
Core/Addons/_JS/bassistance.de/jquery-validation/**/*.min.css
Core/Addons/_JS/bassistance.de/jquery-validation/**/*.min.scss

Core/Addons/_JS/ckeditor.com/ckeditor/**/*.min.js
Core/Addons/_JS/ckeditor.com/ckeditor/**/*.min.css
Core/Addons/_JS/ckeditor.com/ckeditor/**/*.min.scss

Core/Addons/_JS/getbootstrap.com/bootstrap-less/**/*.min.js
Core/Addons/_JS/getbootstrap.com/bootstrap-less/**/*.min.css
Core/Addons/_JS/getbootstrap.com/bootstrap-less/**/*.min.scss

Core/Addons/_JS/gist.github.com_remi_957732/jquery_validate_hooks/**/*.min.js
Core/Addons/_JS/gist.github.com_remi_957732/jquery_validate_hooks/**/*.min.css
Core/Addons/_JS/gist.github.com_remi_957732/jquery_validate_hooks/**/*.min.scss

Core/Addons/_JS/github.com.danielm/uploader/**/*.min.js
Core/Addons/_JS/github.com.danielm/uploader/**/*.min.css
Core/Addons/_JS/github.com.danielm/uploader/**/*.min.scss

Core/Addons/_JS/github.com.free-jqgrid/jqgrid/**/*.min.js
Core/Addons/_JS/github.com.free-jqgrid/jqgrid/**/*.min.css
Core/Addons/_JS/github.com.free-jqgrid/jqgrid/**/*.min.scss

Core/Addons/_JS/github.com.mar10/jquery-ui-contextmenu/**/*.min.js
Core/Addons/_JS/github.com.mar10/jquery-ui-contextmenu/**/*.min.css
Core/Addons/_JS/github.com.mar10/jquery-ui-contextmenu/**/*.min.scss

Core/Addons/_JS/google.com.swfobject/swfobject/**/*.min.js

# github.com.vadikom/smartmenus  - provides min files

# jquery/jquery - provides min files
# jquery/jquery-color - provides min files

Core/Addons/_JS/jqueryui.com/jqueryui/**/*.min.js
Core/Addons/_JS/jqueryui.com/jqueryui/**/*.min.css
Core/Addons/_JS/jqueryui.com/jqueryui/**/*.min.scss

Core/Addons/_JS/jstree.com/jstree/**/*.min.js
Core/Addons/_JS/jstree.com/jstree/**/*.min.css
Core/Addons/_JS/jstree.com/jstree/**/*.min.scss

# medialize.github.io/uri.js - provides min files
# microsoft.com/jquery_unobtrusive_validation - provides min files

Core/Addons/_JS/necolas.github.io/normalize/**/*.min.js
Core/Addons/_JS/necolas.github.io/normalize/**/*.min.css
Core/Addons/_JS/necolas.github.io/normalize/**/*.min.scss

Core/Addons/_JS/no-margin-for-errors.com/prettyLoader/**/*.min.js
Core/Addons/_JS/no-margin-for-errors.com/prettyLoader/**/*.min.css
Core/Addons/_JS/no-margin-for-errors.com/prettyLoader/**/*.min.scss

# telerik.com/Kendo_UI_Core - provides min files

